.project-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    align-self: center;
    justify-content: center;
}

.project-card {
    width: 396px;
    min-height: 478px;
    background: rgb(203, 213, 240);
    box-shadow: 10px 40px 50px rgb(229 233 246 / 40%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 29px;
}

.project-card:hover {
    box-shadow: 0 24px 38px rgba(3, 8, 80, 0.25), 0 10px 10px rgba(3, 31, 92, 0.22);
    transition: all 0.3s;
}

.image-container :hover {
    box-shadow: 0 24px 38px rgba(3, 8, 80, 0.25), 0 10px 10px rgba(3, 31, 92, 0.22);
    transition: all 0.3s;
}

.image-container {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.project-external-link {
    border-radius: inherit;
}

.project-image {
    display: block;
    border-radius: inherit;
    max-height: 100%;
    max-width: 100%;
}

.project-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 20px;
}

.project-heading {
    margin: 0;
}

.project-details {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #070214;
}

.section-container {
    background-color: rgb(241, 190, 190);
}

@media only screen and (max-width: 640px) {
    .project-cards-container {
        padding: 20px;
    }
    .project-card {
        width: 290px;
        min-height: 500px;
    }
}